
    /* Style général pour la table */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px; /* Espacement entre la table et le paginateur */
    }

    /* Style pour les en-têtes de table */
    th {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        text-align: left;
    }

    /* Style pour les cellules de la table */
    td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    /* Style pour le paginateur */
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px; /* Espacement entre le paginateur et le bas de la page */
    }

    /* Style pour les liens du paginateur */
    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
    }

    /* Style pour le lien actif du paginateur */
    .pagination a.active {
        background-color: #4CAF50;
        color: white;
    }

    /* Style pour les liens survolés du paginateur */
    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }
