@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    h1 {
        @apply text-2xl underline;
    }
    table {
        @apply border border-black border-collapse mt-5 mb-5 w-[50rem];
    }

    td {
        @apply p-4 border border-black;
    }
}

/* Classes custom */
@layer components {
    .navbar {
        @apply left-0 flex h-screen w-48 flex-col bg-gray-700 shadow-lg;
    }

    .navbar-item {
        @apply text-xl text-left text-white m-4 hover:underline;
    }
}

#formCreateGenre *{
    margin: 5px;
}

#formUpdateGenre *{
    margin: 5px;
}

#formCreateGenre input{
    border: 1px solid
}

#formUpdateGenre input{
    border: 1px solid
}


logo{
    width: 100px;
}
